div.animation {
  width: 100%;
  height: 100vh;
  background-color: rgb(214, 214, 214);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#first {
  stroke-dasharray: 441px;
  stroke-dashoffset: 441px;
  -webkit-animation: fadeInside 0.6s ease-in forwards;
          animation: fadeInside 0.6s ease-in forwards;
}

#second {
  stroke-dasharray: 488px;
  stroke-dashoffset: 488px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.3s;
          animation: fadeInside 0.6s ease-in forwards 0.3s;
}

#third {
  stroke-dasharray: 446px;
  stroke-dashoffset: 446px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.6s;
          animation: fadeInside 0.6s ease-in forwards 0.6s;
}

#fourth {
  stroke-dasharray: 546px;
  stroke-dashoffset: 546px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 0.9s;
          animation: fadeInside 0.6s ease-in forwards 0.9s;
}

#fifth {
  stroke-dasharray: 525px;
  stroke-dashoffset: 525px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.2s;
          animation: fadeInside 0.6s ease-in forwards 1.2s;
}

#sixth {
  stroke-dasharray: 441px;
  stroke-dashoffset: 441px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.5s;
          animation: fadeInside 0.6s ease-in forwards 1.5s;
}

#seventh {
  stroke-dasharray: 488px;
  stroke-dashoffset: 488px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 1.8s;
          animation: fadeInside 0.6s ease-in forwards 1.8s;
}

#eighth {
  stroke-dasharray: 465px;
  stroke-dashoffset: 465px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 2.1s;
          animation: fadeInside 0.6s ease-in forwards 2.1s;
}

#ninth {
  stroke-dasharray: 546px;
  stroke-dashoffset: 546px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 2.4s;
          animation: fadeInside 0.6s ease-in forwards 2.4s;
}

#tenth {
  stroke-dasharray: 525px;
  stroke-dashoffset: 525px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 2.7s;
          animation: fadeInside 0.6s ease-in forwards 2.7s;
}

#eleventh {
  stroke-dasharray: 488px;
  stroke-dashoffset: 488px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 3s;
          animation: fadeInside 0.6s ease-in forwards 3s;
}

#twelveth {
  stroke-dasharray: 438px;
  stroke-dashoffset: 438px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 3.3s;
          animation: fadeInside 0.6s ease-in forwards 3.3s;
}

#thirteenth {
  stroke-dasharray: 546px;
  stroke-dashoffset: 546px;
  -webkit-animation: fadeInside 0.6s ease-in forwards 3.6s;
          animation: fadeInside 0.6s ease-in forwards 3.6s;
}

svg {
  -webkit-animation: fill 1s ease-in forwards 3.6s;
          animation: fill 1s ease-in forwards 3.6s;
}

@-webkit-keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}
@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}/*# sourceMappingURL=animation.css.map */